 body{ 
    max-width: 1280px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bangladesh{
    font-weight: 700;
    font-size: 28px;
    margin-left:50px ;
}

.sign{
    height: 52px;
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    

}
/* banner section style */

.banner{
    display: flex;
    justify-content: space-between;
    background-color: rgb(198, 228, 214);
    height: auto;
    padding: 80px 100px;
    border-radius: 24px;
    gap: 64px;
}
.banner-btn{
    background-color:rgb(0, 106, 80) ;
    padding: 15px 30px;
    border-radius: 8px;
    color: white;
    border: none;
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
}
.banner-description{
    font-size: 56px;
    font-weight: bold;
    color: rgb(14, 14, 14);
}
.dark-1{
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
}


.pilar{
    margin-top: 50px;
}

.box-container{
    display: flex;
    gap: 24px;
}
.box{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
}
.title{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: 700;
}
.description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.card-btn-1{
    font-size: 15px;
    color: white;
    border-radius: 8px;
    background-color: rgb(84, 144, 245);
    padding:11px 20px;
    border: none;
}
.card-btn-2{
    font-size: 15px;
    color: white;
    border-radius: 8px;
    background-color: rgb(9, 161, 92);
    padding:11px 20px;
    border: none;
}
.card-btn-3{
    font-size: 15px;
    color: white;
    border-radius: 8px;
    background-color: rgb(255, 194, 57);
    padding:11px 20px;
    border: none;
}
.card-container{
    display: flex;
    gap: 24px;
}
.card-1{
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.card-2{
    padding: 32px;
    background-color:rgb(198, 228, 214);
    border-radius: 16px;
}
.card-3{
    padding: 32px;
    background-color:rgb(247, 235, 207);
    border-radius: 16px;
}
.card-description{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 30px;
    padding: 48px 24px;
    box-shadow: 1px solid 1px	Inside
    rgba(14, 14, 14, 0.15) ;

}

.prime-ministar{
    margin-top: 30px;
}
.news-box{
    display: flex;
    gap: 25px;
    margin:24px 0px;
    padding: 48px;
}
.image{
    border-radius:24px;
}
.read-more{
background-color:rgb(0, 106, 80) ;
border-radius: 8px;
padding: 13px 26px;
color: white;
border: none;
}
.news-header-box{
    border-radius: 24px;
    box-shadow: 5px solid white;
}
.text-alagin{
    text-align: center;
}
.donate-box{
    box-sizing: border-box;
    padding: 0px 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    
}
.donate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.donate-box-2{
    box-sizing: border-box;
    padding: 0px 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color:rgb(198, 228, 214) ;
    
   
    
}
.donate-des{
    padding: 20px 40px;
}
.other-amount{
    text-align: center;
    box-sizing: border-box;
    color: rgba(14, 14, 14, 0.3);
    background: rgb(255, 255, 255);
}
.footer{
    background-color:rgb(198, 228, 214) ;
    padding: 80px 100px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-bang{
    font-size: 32px;
    color: rgb(14, 14, 14);
}
.footer input[type="value"]{
    padding: 10px 20px;
    color: white;
}
.hide{
    display: none;
}

/* responsive section */

@media screen and (max-width:576px) {
    .card-container,
    .box-container{
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }
    .description{
        font-size: 10px;
        text-align: center;
    }
    .title{
        font-size: 14px;
    }
    .dark-1{
        font-size: 24px;
        text-align: center;
    }
    .card-btn-1,.card-btn-2,.card-btn-3{
        font-size: 10px;
    }
  .banner{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   padding: 25px 10px;
  }
  .banner-title{
    font-size: 10px;
  }
  .banner-description{
    font-size: 35px;
    padding: 25px;
    text-align: left;
  }
  .banner-image{
    width: 70%;
  }
  .news-box{
    flex-direction: column;
  }
  .donate{
    flex-direction: column;
  }
  .image{
    width: 90%;
  }
}